.container, .containerInstall {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 157px;
    width: 414px;
    height: 350px;
    font-size: 29px;
    margin: 10px;
    padding: 0px;
    background-color: floralwhite;
    color: #61dafb;
    border-radius: 20px;
}
.displayNone{
    display: none;
}
button{
    width: 100px;
    height: 50px;
    margin: 20px 3px 0 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background: #61dafb;
    color: #282c34;
}
button:disabled{
    background: #5b8996;
    color: rgba(40, 44, 52, 0.52);
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 219px;
    width: 389px;
    font-size: 90px;
    background: #282c34;
    border-radius: 10px;
}
.textStop {
    font-size: 95px;
    color:red;
}
.containerValues {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 219px;
    width: 389px;
    font-size: 20px;
    background: #282c34;
    border-radius: 10px;
}
.error {
    border: 3px solid red;
    color: red;
}
.errorText {
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.inactiveText {
    font-size: 20px;
    color: white;
    font-weight: bold;
}